*{
    margin: 0px;
    padding: 0px;
}
.div1{
    background-image: url(https://wallpaperset.com/w/full/f/8/8/492379.jpg);
    background-size: cover;
    height: 600px;
    background-repeat: no-repeat;

    
}
h1{
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Dancing Script', cursive;

}
.div2{
    text-align: center;
}
.img1{
    width: 900px;
    height: 550px;
    margin-left: 230px;
}
.img2{
    width: 900px;
    height: 550px;
    margin-left: 230px;

}
.img3{
    width: 900px;
    height: 550px;
    margin-left: 230px;
}
.img4{
    width: 900px;
    height: 550px;
    margin-left: 230px;
}
.img5{
    width: 900px;
    height: 550px;
    margin-left: 230px;
}
h2{
    text-align: center;
}
.div4{
    width: 900px;
    height: 350px;
    margin-left: 230px;
    background-color: mintcream;
    font-style:normal;
    font-size: large;
    font-weight: 500;
    text-align: justify;
    
    
}
.div5{
    text-align: center;
}


